body {
    overflow-y: hidden;
}

nav img {
    position: relative;
    bottom: 4px;
    width: 0.95em;
    display: inline;
    align-items: center;
}

.main-header {
    color: white;
}

.video_container {
    width: 100%;
}

.btn-group{
    position: fixed;
    top: 2%;
    right: 25%;
}
